@import url('/style.css');

#projects {
    margin-bottom: 200px;
}

.projects-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1000px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .projects-grid {
        justify-content: center;
    }
}

project-component {
    cursor: pointer;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;

    img {
        width: 100%;
        border-radius: 10px;
        align-items: center;
        transition: transform 0.3s ease;
    }

    p[slot='description'] {
        display: none;
        margin: 0;
    }
}

project-component:hover p[slot='description'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: start;
}

project-component:hover p[slot='description'] span {
    margin: 5px;
    color: var(--font-color);
    font-size: 16px;
    text-align: center;
    line-height: 18px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;

    max-height: 100%;
}

.comming-soon {
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/comming-soon.jpeg');
    background-position: 45px 20px;
    background-size: contain;

    div {
        display: flex;
        flex-direction: row;

        gap: 11px;
    }
}