<div id="hotbar">
    <a href="#home" target="_self" id="hotbar-link-1">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/material-symbols--home.png" width="24px" alt="Acessar Página: Inicial">
            </div>
        </slot-component>
    </a>
    <a href="#aboutme" target="_self" rel="next" id="hotbar-link-2">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/material-symbols--lab-profile-outline.png" width="24px" alt="Acessar Página: Sobre">
            </div>
        </slot-component>
    </a>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <a href="mailto:luanpozzobon@gmail.com" id="hotbar-link-7">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/email.png" width="24px" rel="me" alt="Link: E-mail">
            </div>
        </slot-component>
    </a>
    <a href="https://github.com/luanpozzobon" target="_blank" rel="me" id="hotbar-link-8">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/github.png" width="24px" alt="Link: Github">
            </div>
        </slot-component>
    </a>
    <a href="https://linkedin.com/in/luanpozzobon" target="_blank" rel="me" id="hotbar-link-9">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/linkedin.png" width="24px" alt="Link: LinkedIn">
            </div>
        </slot-component>
    </a>
</div>