<div id="hotbar">
    <a href="#home" target="_self" id="hotbar-link-1">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/material-symbols--home.png" width="24px" alt="Acessar Página: Inicial">
            </div>
            <div slot="number">1</div>
        </slot-component>
    </a>
    <a href="#aboutme" target="_self" rel="next" id="hotbar-link-2">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/material-symbols--lab-profile-outline.png" width="24px"
                    alt="Acessar Página: Sobre">
            </div>
            <div slot="number">2</div>
        </slot-component>
    </a>
    <a href="#projects" target="_self" id="hotbar-link-3">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/material-symbols--folder-open.png" width="24px" alt="Acessar Página: Projetos">
            </div>
            <div slot="number">3</div>
        </slot-component>
    </a>
    <slot-component>
        <div slot="number">4</div>
    </slot-component>
    <slot-component>
        <div slot="number">5</div>
    </slot-component>
    <slot-component>
        <div slot="number">6</div>
    </slot-component>
    <slot-component>
        <div slot="number">7</div>
    </slot-component>
    <slot-component>
        <div slot="number">8</div>
    </slot-component>
    <a href="https://gravatar.com/luanpozzobon" rel="me" id="hotbar-link-9" data-gravatar-hash="888e6d4f0005c850750f39b306d8d7f8">
        <slot-component>
            <div slot="content">
                <img class="gravatar" src="https://www.gravatar.com/avatar/888e6d4f0005c850750f39b306d8d7f8?s=24" alt="Link: E-mail">
            </div>
            <div slot="number">9</div>
        </slot-component>
    </a>
</div>