#hotbar {
    display: flex;
    flex-direction: row;
}

a {
    height: 44px;
}

slot-component, a {
    margin-right: 4px;
}

@media (max-width: 600px) {
    #hotbar {
        transform: scale(0.8);
    }
}

.gravatar {
    border-radius: 6px;
    pointer-events: none;
}