<div id="hotbar">
    <a href="#home" target="_self">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/material-symbols--home.png" width="24px">
            </div>
        </slot-component>
    </a>
    <a href="#contact" target="_self">
        <slot-component>
            <div slot="content">
                <img src="/assets/icons/material-symbols--contact-phone.png" width="24px">
             </div>
         </slot-component>
     </a>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <slot-component></slot-component>
    <slot-component></slot-component>
</div>