@import url('/style.css');

#welcome {
    font-size: 24px;
    white-space: wrap;
    display: inline-block;
}

main>p {
    line-height: 32px;
    text-align: justify;
    font-size: 18px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}