@font-face {
    font-family: Neon80s;
    src: url(/assets/fonts/neon.ttf);
}

@font-face {
    font-family: Monocraft;
    src: url(/assets/fonts/Monocraft.ttf);
}

:root {
    /* Fonts */
    --header-font: Neon80s;
    --xp-font: Monocraft;

    /* Colors */
    --font-color: rgba(255, 255, 255, 0.75);
    --bg-color: rgba(0, 0, 0, 0.8);
    --comp-color: rgba(130, 40, 245, 1);
}


body,
html {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Courier New', Courier, monospace;
    min-height: 100dvh;
}

#neon-header {
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--bg-color);
    width: 100%;
    margin-bottom: 25px;
}

#neon-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-self: center; */

    width: auto;
    max-width: 100%;

    padding-bottom: 20px;
}

.bottom-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 21px;
}

#title {
    font-size: 72px;
    margin: 0px;
}

#subtitle {
    font-size: 34px;
    margin: 0px;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 50%;
}

#title,
#subtitle,
hr {
    padding: 0px;
}

.neon-text {
    text-align: center;
    font-family: var(--header-font);

    text-shadow: none;
    color: rgba(200, 200, 200, 0.4);
}

#neon-sign:not(.effect-off) {
    .neon-text {
        color: var(--font-color);
        text-shadow:
            0 0 5px var(--font-color),
            0 0 15px var(--font-color),
            0 0 30px var(--font-color);
    }

    .neon-text .off {
        animation: flicker 15s infinite alternate;
        text-shadow: none;
        color: rgba(200, 200, 200, 0.4);
    }

    #title span:nth-child(1) {
        animation-delay: 0s;
    }

    #title span:nth-child(2) {
        animation-delay: 8s;
    }

    #title span:nth-child(3) {
        animation-delay: 5s;
    }

    #subtitle span:nth-child(1) {
        animation-delay: 4s;
    }
}

@keyframes flicker {

    0%,
    19.9%,
    20.5%,
    37%,
    38%,
    71%,
    71.5%,
    80%,
    81.7%,
    90%,
    91%,
    100% {
        color: rgba(200, 200, 200, 0.4);
        text-shadow: none;
    }

    20%,
    20.4%,
    37.1%,
    37.9%,
    71.1%,
    80.1%,
    81.6%,
    90.1%,
    90.9% {
        color: var(--font-color);
        text-shadow:
            0 0 5px var(--font-color),
            0 0 15px var(--font-color),
            0 0 30px var(--font-color);
    }
}

main {
    max-width: 1000px;
    padding-bottom: 100px;
    margin: 0 auto;
}

xp-bar-component {
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 436px;
    z-index: 4;
}

hotbar-component {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.next-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.next-page>p {
    font-size: 20px;
}

.next-page:hover {
    transform: scale(1.05);
    transition: all 1s;
}

#arrow {
    font-size: 32px;
    animation: moveArrow 2s ease-out infinite;
}

@keyframes moveArrow {
    0% {
        transform: translateX(0px);
    }

    65% {
        transform: translateX(16px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media (max-width: 600px) {
    hr {
        width: 100%;
    }

    .next-page p {
        font-size: 16px;
    }

    xp-bar-component {
        bottom: 70px;
    }
}

@media (max-height: 500px) {
    header {
        position: relative;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.tags span {
    background-color: color-mix(in srgb, var(--bg-color), white 8%);
    border: 1px solid color-mix(in srgb, var(--font-color), black 64%);
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.8em;
}

.card {
    background-color: color-mix(in srgb, var(--bg-color), white 8%);
    border: 1px solid color-mix(in srgb, var(--font-color), black 64%);
    border-radius: 16px;
    padding: 20px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    border-color: var(--comp-color);
    box-shadow: 0 0px 8px var(--comp-color)
}